<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
</head>
<body>

<script>

    function addUser(){
        var userName = document.getElementById("userName").value;
        var userAddress = document.getElementById("userAddress").value;
        var userPhone = document.getElementById("userPhone").value;
        const client = { id: null, name: userName ,address: {id: null,  street: userAddress }, phoneList: [{ id: null, phoneNumber: userPhone }]};
        JSON.stringify(client)
        fetch('/clients', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(client)
        });
        window.location.reload(true);
    }

</script>

<pre id = "userDataContainer"></pre>
<table id="table" class="display" style="width:800px">
    <thead>
    <tr>
        <td style="width: 200px">Id</td>
        <td style="width: 200px">Имя</td>
        <td style="width: 200px">Адрес</td>
        <td style="width: 200px">Номер телефона</td>
    </tr>
    </thead>
    <tbody>
    <#list clients>
    <#items as client>
    <tr>
        <td style="width: 200px">${client.id}</td>
        <td style="width: 200px">${client.name}</td>
        <td style="width: 200px">${client.getStreetString()}</td>
        <td style="width: 200px">${client.getPhonesString()}</td>
    </tr>
    </#items>
</#list>
    </tbody>

</table>

<h4>Добавить пользователя</h4>
<input type="text" id = "userName" placeholder="Введите имя клиента"><br>
<input type="text" id = "userAddress" placeholder="Введите адрес клиента"><br>
<input type="text" id = "userPhone" placeholder="Введите номер телефона клиента"><br>

<button onclick="addUser()">Добавить</button>

</table>

</body>
</html>