<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" content="text/html;">
<body>
<script>

function add(){
        var clientName = document.getElementById("clientName").value;
        var clientAddress = document.getElementById("clientAddress").value;
        var clientPhone = document.getElementById("clientPhone").value;
        var clientPhoneExtraFirst = document.getElementById("clientPhoneExtraFirst").value;
        var clientPhoneExtraSecond = document.getElementById("clientPhoneExtraSecond").value;
        const json = {name: clientName,
                    address: clientAddress,
                    phoneNumber: clientPhone,
                    phoneNumberExtraFirst: clientPhoneExtraFirst,
                    phoneNumberExtraSecond: clientPhoneExtraSecond};

        fetch('/client/add', {
              method: 'POST',
              body: JSON.stringify(json),
              headers: {
                'Content-Type': "application/json; charset=UTF-8"
              }
        })
            .then(res => {
                if(!res.ok) {
                    throw Error(res.statusText);
                }
                window.location.reload(true);
        });
}
</script>

    <form name="addClient">
        <div id="profileClient">
            <h4>Добавить пользователя</h4>
            <input type="text" id = "clientName" name = "name" placeholder="Введите имя клиента" style="width:800px"><br>
            <input type="text" id = "clientAddress" name="address" placeholder="Введите адрес клиента" style="width:800px"><br>
            <input type="text" id = "clientPhone" name="phoneNumber" placeholder="Введите номер телефона клиента" style="width:800px"><br>
            <input type="text" id = "clientPhoneExtraFirst" name="phoneNumberExtraFirst" placeholder="Введите дополнительный номер телефона клиента" style="width:800px"><br>
            <input type="text" id = "clientPhoneExtraSecond" name="phoneNumberExtraSecond" placeholder="Введите дополнительный номер телефона клиента" style="width:800px"><br>
        </div>
        <button onclick = 'add()' >Добавить</button>
    </form>


    <form name="getClients">
        <div id="container" >
            <h4>Список клиентов</h4>
            <table id="table" class="display" style="width:800px" >
                <thead>
                <tr>
                    <th style="width: 50px">ID</th>
                    <th style="width: 100px">Имя</th>
                    <th style="width: 100px">Адресс</th>
                    <th style="width: 100px">Номер телефона</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${clients}">
                    <td align="center"th:text="${client.id}"></td>
                    <td align="center"th:text="${client.name}"></td>
                    <td align="center"th:text="${client.address.street}"></td>
                    <td align="center" th:text="${client.getNumbersString}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

</body>
</html>